<%- include('../partials/header.ejs') %>
<form action="/quotes/create" method="post" class="create">
    <h2>Welcome,<%= locals.user %></h2>
    <label for="quote">Create quote</label>
  <textarea name="quotes" id="quote" rows="10" cols="40" placeholder="Write your thought here"></textarea> <br>
  <input type="color" name="color" id=""> <br>
  <button type="submit">Submit</button>
</form>
<%- include('../partials/footer.ejs') %>